@font-face {
  font-family: 'Georgia';
  src: url('subset-Georgia-Bold.eot');
  src:
    local('Georgia Bold'),
    local('Georgia-Bold'),
    url('subset-Georgia-Bold.eot?#iefix') format('embedded-opentype'),
    url('subset-Georgia-Bold.woff2') format('woff2'),
    url('subset-Georgia-Bold.woff') format('woff'),
    url('subset-Georgia-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Georgia';
  src: url('subset-Georgia.eot');
  src:
    local('Georgia'),
    url('subset-Georgia.eot?#iefix') format('embedded-opentype'),
    url('subset-Georgia.woff2') format('woff2'),
    url('subset-Georgia.woff') format('woff'),
    url('subset-Georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Georgia';
  src: url('subset-Georgia-BoldItalic.eot');
  src:
    local('Georgia Bold Italic'),
    local('Georgia-BoldItalic'),
    url('subset-Georgia-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('subset-Georgia-BoldItalic.woff2') format('woff2'),
    url('subset-Georgia-BoldItalic.woff') format('woff'),
    url('subset-Georgia-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Georgia';
  src: url('subset-Georgia-Italic.eot');
  src:
    local('Georgia Italic'),
    local('Georgia-Italic'),
    url('subset-Georgia-Italic.eot?#iefix') format('embedded-opentype'),
    url('subset-Georgia-Italic.woff2') format('woff2'),
    url('subset-Georgia-Italic.woff') format('woff'),
    url('subset-Georgia-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}
